<form [formGroup]="urlForm" (ngSubmit)="fetchData()" class="flex-container">
  <mat-form-field appearance="standard" id="url">
    <mat-label> URL </mat-label>
    <input matInput type="text"  formControlName="url">
    <mat-error *ngIf="url.errors?.required && url.touched">
      URL is required
    </mat-error>
    <mat-error *ngIf="url.errors?.pattern && url.touched">
      Input must be an URL
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="urlForm.invalid || isFetching"> {{buttonText}} </button>
  <mat-spinner color="warn" mode="indeterminate" *ngIf="isFetching" diameter="40"></mat-spinner>
</form>
